## **Exploring Yahoo Finance Library**

I want to explore this library prior to me applying PCA to it, so I know how much flexibility I have with the data and the library itself.

In [30]:
import yfinance as yf
import pandas as pd

#### **history() method**

#### It takes the following parameters as input:

- period: data period to download (either use period parameter or use start and end) Valid periods are:
    - “1d”, “5d”, “1mo”, “3mo”, “6mo”, “1y”, “2y”, “5y”, “10y”, “ytd”, “max”
- interval: data interval (1m data is only for available for last 7 days, and data interval <1d for the last 60 days) Valid intervals are:
    - “1m”, “2m”, “5m”, “15m”, “30m”, “60m”, “90m”, “1h”, “1d”, “5d”, “1wk”, “1mo”, “3mo”
- start: If not using period – in the format (yyyy-mm-dd) or datetime.
- end: If not using period – in the format (yyyy-mm-dd) or datetime.
- prepost: Include Pre and Post regular market data in results? (Default is False)- no need usually to change this from False
- auto_adjust: Adjust all OHLC (Open/High/Low/Close prices) automatically? (Default is True)- just leave this always as true and don’t worry about it
- actions: Download stock dividends and stock splits events? (Default is True)

#### **download module**

To download the historical data for multiple tickers at once you can use the download module.

It takes mostly the same arguments as the history() method on a ticker object, but additionally:

- group_by: group by column or ticker (‘column’/’ticker’, default is ‘column’)
- threads: use threads for mass downloading? (True/False/Integer)
- proxy: proxy URL if you want to use a proxy server for downloading the data (optional, default is None)

In [31]:
# looking at one stock

aapl = yf.Ticker("AAPL")
historical_aapl = aapl.history(period="1y")
# print("historical info")
# display(historical_aapl)

financials_aapl = aapl.financials
# print("\nfinancials")
# display(financials_aapl)

actions_aapl = aapl.actions
# print("\nstock actions like dividends and splits")
# display(actions_aapl)

# looking at a group of stocks

In [35]:
# looking at 1+ stocks at once using the download module

data = yf.download("AMZN AAPL GOOG", start="2024-01-01", end="2025-10-30", auto_adjust=True)
# display(data)

data_groupby_tickers = yf.download("AMZN AAPL GOOG", start="2014-01-01",
                    end="2025-10-30", group_by='tickers', auto_adjust=True)
display(data_groupby_tickers)

[*********************100%***********************]  3 of 3 completed
[*********************100%***********************]  3 of 3 completed

Ticker            AMZN                                                \
Price             Open        High         Low       Close    Volume
Date
2014-01-02   19.940001   19.968000   19.701000   19.898500  42756000
2014-01-03   19.914499   20.135500   19.811001   19.822001  44204000
2014-01-06   19.792500   19.850000   19.421000   19.681499  63412000
2014-01-07   19.752001   19.923500   19.714500   19.901501  38320000
2014-01-08   19.923500   20.150000   19.802000   20.096001  46330000
...                ...         ...         ...         ...       ...
2025-10-23  219.000000  221.300003  218.179993  221.089996  31540000
2025-10-24  221.970001  225.399994  221.899994  224.210007  38685100
2025-10-27  227.660004  228.399994  225.539993  226.970001  38267000
2025-10-28  228.220001  231.490005  226.210007  229.250000  47100000
2025-10-29  231.669998  232.820007  227.759995  230.300003  52036200

Ticker            GOOG                                                 \
Price             Open        High         Low       Close     Volume
Date
2014-01-02   27.593537   27.650185   27.415427   27.535650   73129082
2014-01-03   27.582158   27.629900   27.333052   27.334784   66917888
2014-01-06   27.532929   27.677642   27.370405   27.639547   71037271
2014-01-07   27.829529   28.192921   27.734539   28.172388  102486711
2014-01-08   28.349014   28.381667   28.034601   28.231016   90036218
...                ...         ...         ...         ...        ...
2025-10-23  253.699997  255.860001  252.768005  253.729996   13241300
2025-10-24  257.299988  262.510010  256.100006  260.510010   18406000
2025-10-27  265.359985  270.799988  264.940002  269.929993   22987700
2025-10-28  270.200012  271.380005  267.170013  268.429993   20101200
2025-10-29  268.609985  275.970001  268.429993  275.170013   26287900

Ticker            AAPL
Price             Open        High         Low       Close     Volume
Date
2014-01-02   17.235791   17.277665   17.122267   17.156696  234684800
2014-01-03   17.148330   17.174384   16.762782   16.779842  392467600
2014-01-06   16.670347   16.960359   16.550929   16.871340  412610800
2014-01-07   16.883434   16.934302   16.684922   16.750679  317209200
2014-01-08   16.712531   16.921900   16.708811   16.856764  258529600
...                ...         ...         ...         ...        ...
2025-10-23  259.688250  260.367584  257.760126  259.328583   32754900
2025-10-24  260.937064  263.874220  258.929001  262.565491   38253700
2025-10-27  264.623466  268.859349  264.393677  268.549652   44888200
2025-10-28  268.729471  269.628624  267.890289  268.739471   41534800
2025-10-29  269.019206  271.147148  266.851294  269.438812   51086700

[2975 rows x 15 columns]

In [36]:
# fundamentals data with multiple tickers at once

# create list of tickers we want to get data for
tickers_list = ["goog", "aapl", "amzn", "msft", "mstr", "nvda", "tsla", "amd", "meta", "avgo", "nflx"]

# create dictionary to store that data for each ticker
tickers_info = {}

# loop through ticker list
# for each ticker, add a key value pair (kvp) to our dictionary
# key: ticker
# value: dataframe returned by the info() method for that ticker

for ticker in tickers_list:
    ticker_object = yf.Ticker(ticker)
    # convert info() output from dictionary to dataframe
    temp = pd.DataFrame.from_dict(ticker_object.info, orient="index")
    temp.reset_index(inplace=True)
    temp.columns = ["Attribute", "Recent"]
    
    # add (ticker, dataframe) to main dictionary
    tickers_info[ticker] = temp

# tickers_info

# combine this dictionary of ticker data/dfs into a single df
combined_data = pd.concat(tickers_info)
combined_data = combined_data.reset_index()
# combined_data

# cleaning it up
del combined_data["level_1"] # clean up unnecessary column
combined_data.columns = ["Ticker", "Attribute", "Recent"] # update column names

display(combined_data)

     Ticker         Attribute                     Recent
0      goog          address1  1600 Amphitheatre Parkway
1      goog              city              Mountain View
2      goog             state                         CA
3      goog               zip                      94043
4      goog           country              United States
...     ...               ...                        ...
1955   nflx         shortName              Netflix, Inc.
1956   nflx          longName              Netflix, Inc.
1957   nflx       marketState                     CLOSED
1958   nflx       displayName                    Netflix
1959   nflx  trailingPegRatio                     1.1809

[1960 rows x 3 columns]

In [37]:
# info() method provides a dictionary of info for each company
# aapl.info will be a dictionary of all of apple's info

# example below of market cap and volume
print(f"Apple's Market Cap: {aapl.info['marketCap']}")
print(f"Apple's Volume: {aapl.info['volume']}")

Apple's Market Cap: 4138242670592
Apple's Volume: 16129268